<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679029913688-0vgmejtkq6da2ugjksn8k2ht186uleeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679029913688-0vgmejtkq6da2ugjksn8k2ht186uleeb</string>
	<key>API_KEY</key>
	<string>AIzaSyAEBwzdTpY13hUt1PQGV8MTK9qf_tFLNOk</string>
	<key>GCM_SENDER_ID</key>
	<string>679029913688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maxim-Alekseev.BlackStarShop</string>
	<key>PROJECT_ID</key>
	<string>blackstarshop-ab401</string>
	<key>STORAGE_BUCKET</key>
	<string>blackstarshop-ab401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679029913688:ios:095409db16d69de21cb22d</string>
	<key>DATABASE_URL</key>
	<string>https://blackstarshop-ab401.firebaseio.com</string>
</dict>
</plist>